@model IEnumerable<MedicalAppoiments.Domain.Entities.appointments.DoctorAvailability>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityID)
            </td>
                <th>
                    @Html.DisplayNameFor(model => model.DoctorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.AvailabilityID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.AvailabilityID  }) |
               
            </td>
        </tr>
}
    </tbody>
</table>
